/*------------------------------------*\
    #WIDTH TRUMPS
\*------------------------------------*/

.one-full {
	width: 100% !important;
}
.three-fourth {
	width: 75% !important;
}
.one-fourth {
	width: 25% !important;
}
.two-third {
	width: 66.6666666% !important;
}
.one-third {
	width: 33.33333333% !important;
}
.one-half {
	width: 50% !important;
}


