
/*------------------------------------*\
    #CLEAR FIX
\*------------------------------------*/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    overflow: auto;
  	zoom: 1;
  }
}
