/* helpers */
img {
	min-width: 100%;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

body {
	background: #000;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* picture gride module */
.picGrid {
	background: #000;
	margin: 0;
	padding: 0;
}
	.picGrid--photo {
		float:left; 
		list-style:none; 
		position: relative;
		width: 25%;
	}
	.picGrid--photo--mod-2x {
		width: 50%;
	}
		.picGrid--photo--img {
			width: 100%;
		}
		.picGrid--photo--button {
			position: absolute;
			right: 0;
			top: 0;
		}

/* Input module */

.input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    height: 32px;
    padding: 6px 0 6px 4px;
}

.inputGroup {
    position: relative;
    display: table;
    border-collapse: separate;
}
	.inputGroup--addon {
		width: 1%;
    	white-space: nowrap;
    	vertical-align: middle;
    	display: table-cell;
    	padding: 6px 12px;
	    line-height: 1;
	    text-align: center;
	    background:#FFF;
	    border: 1px solid #ccc;
	    border-right: 0;
	}
	.inputGroup--input {
	    display: table-cell;
	    position: relative;
	    z-index: 2;
	    float: left;
	    width: 100%;
	    margin-bottom: 0;
	    position: relative;
	    z-index: 2;
	    float: left;
	    width: 100%;
	    margin-bottom: 0;
	}

	.inputGroup--addon + .inputGroup--input {
		border-left: 0;
	}
	.inputGroup--input + .inputGroup--addon {
		border-left: 0;
	}



/* Buttons */
.btn {
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    padding: 7px 13px;
    height: 32px;
} 
	.btn--primary {
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3262e), to(#ab171e));
	    background-image: -webkit-linear-gradient(#e3262e, #ab171e);
	    background-image: linear-gradient(#e3262e, #ab171e);
	    background-color: #ab171e;
	    border: 1px solid;
	    border-bottom-color: #820a0f;
	    border-left-color: #9a1015;
	    border-right-color: #9a1015;
	    border-top-color: #af151b;
    	color: #FFF;
	}
	.btn--secondary {
    	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	    background: -webkit-linear-gradient(#fff, #f0f0f0);
	    background: linear-gradient(#fff, #f0f0f0);
		background-color: #f8f8f8;
		border: 1px solid #ccc;
    	color: #5f5f5f;

	}



/*header module*/
.header {
	background: #EEE;
	border-bottom: 1px solid #CCC;
	margin: 0 0 0 0;
	padding: 12px 0;
	text-align: center;
}
	.header--form {
		width: 500px;
    	margin: 0 auto;
	}
		.header--form--input {
			width: 80%;
			float: left;
		}
		.header--form--button {
			width: 20%;
			float: left;
		}

pre {color:#FFF;}