/*------------------------------------*\
    #GLOBAL SETTINGS
\*------------------------------------*/



//base colors
$orange: #FDC23E;
$blue: #449BAA;
$salmon: #FF7761;
$darkBlue: #244356;
$grey: #EBF2FA;
$white: #FFF;


// specific colors;
$primaryBtn_color: #000;
$secondaryBtn_color: #000;
$brand_color: $blue;
$link_color: $blue;
$link_color_hover: $orange;
$background: #F5FAFC;


//spacing
$unit_large: 48px;
$unit: 24px;
$unit_small: 12px;
$unit_tiny: 6px;


//fonts & type
$sanserif: 'Roboto', sans-serif;
$light: 400;
$heavy: 700;


//break points
$bp1: 75em;