/*------------------------------------*\
    #GLOBAL SETTINGS
\*------------------------------------*/

//base colors
$blue: #449BAA;
$salmon: #FF7761;
$darkBlue: #244356;
$lightBlue: #F5FAFC;
$white: #FFFFFF;
$lightGrey: #F5F5F5;
$mediumGrey: #DDDDDD;
$darkGrey: #444444;

//Global settings
$brand_color: $blue;
$background: $lightBlue;

// Button Colors;
$primaryBtn_bgcolor: $darkBlue;
$primaryBtn_txtcolor: $white;
$secondaryBtn_bgcolor: $lightGrey;
$secondaryBtn_txtcolor: $darkGrey;


//Link colors
$link_color: $blue;
$link_color_hover: $salmon;
$link_border_color: $lightGrey;


//spacing
$unit_huge: 7.2rem;
$unit_large: 4.8rem;
$unit: 2.4rem;
$unit_small: 1.2rem;
$unit_tiny: .6rem;


//fonts & type
$sanserif: 'Roboto', sans-serif;
$light: 400;
$heavy: 700;
$font-size : 1.6rem;
$line-height: 2.4rem;

//Input Heights
$inputHeight: 32px;


//break points
$bp1: 75em;