/*------------------------------------*\
    #BASE STYLES
\*------------------------------------*/

html {
	font-size: 62.5%;
}

body {
	background: $background;
	@include sizing(font-size, 1.6);
	font-family: $sanserif;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: $heavy;
	@include sizing(margin-bottom, $unit-small);
}

img {
	min-width: 100%;
}


