/*------------------------------------*\
    #LINK STYLES
\*------------------------------------*/

a {
  color: $link_color;
  border-bottom: 2px solid $link_border_color;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
  text-decoration: none;
}
a:hover {
  color: $link_color_hover;
  border-bottom: 2px solid $link_color_hover
}