/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
p, ul, pre {
	color: $darkBlue;
	line-height: 1.8;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}