@charset "UTF-8";
/*------------------------------------*\
    #YourHashtag
\*------------------------------------*/
/**
## SETTINGS ##
   * Defaults, 
   * Globals, 
   * Colors,
   * Responsive breakpoints

## TOOLS ##
   * Functions, 
   * Mixins, 
   * Responsive tooling, 

## GENERIC ##
   * Normalize/reset, 
   * Box-sizing, 
   * Shared global commonalities, 

## BASE ##
   * Page level styles 
   * Headings, 
   * Type
   * Links
   * Lists
   * Images
   * Quotes 

## OBJECTS ##
   * Wrappers and constraints
   * Buttons, 
   * Laout
   * Box
   * Media object

## COMPONENTS ##
   * Page head 
   * Page Footer, 
   * Buttons
   * Boxes
   * Sprites

## TRUMPS ##
   * Clearfix
   * Width helper, 
   * Spacing
   * Show/Hide
*/
/* ## SETTINGS ## */
/*------------------------------------*\
    #GLOBAL SETTINGS
\*------------------------------------*/
/* ## TOOLS ## */
/* ## GENERIC ## */
/*------------------------------------*\
    #BOXSIZING
\*------------------------------------*/
* {
  box-sizing: border-box; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base elementΓÇÖs `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your projectΓÇÖs
 *    base font size.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [2] */ }

body {
  margin: 0; }

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1; }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesnΓÇÖt need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */ }

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
  text-indent: -0.41em;
  /* [1] */ }

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using ΓÇ£, ΓÇ¥, ΓÇÿ, and ΓÇÖ quotes.
 */
blockquote {
  quotes: "ΓÇ£" "ΓÇ¥";
  margin-left: 48px;
  margin-left: 3rem; }
  blockquote p:before {
    content: "ΓÇ£";
    content: open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "ΓÇ¥";
    content: close-quote; }

q {
  quotes: "ΓÇÿ" "ΓÇÖ" "ΓÇ£" "ΓÇ¥";
  /**
   * If an element opens with an inline quote, letΓÇÖs hang that.
   */ }
  q:before {
    content: "ΓÇÿ";
    content: open-quote; }
  q:after {
    content: "ΓÇÖ";
    content: close-quote; }
  q q:before {
    content: "ΓÇ£";
    content: open-quote; }
  q q:after {
    content: "ΓÇ¥";
    content: close-quote; }
  q:first-child {
    display: inline-block;
    text-indent: -0.22em; }

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 12px; }

/* ## BASE ## */
/*------------------------------------*\
    #BASE STYLES
\*------------------------------------*/
html {
  font-size: 62.5%; }

body {
  background: #F5FAFC;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700; }

img {
  min-width: 100%; }

/*------------------------------------*\
    #LINK STYLES
\*------------------------------------*/
a {
  color: #449BAA;
  border-bottom: 2px solid #F5F5F5;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
  text-decoration: none; }

a:hover {
  color: #FDC23E;
  border-bottom: 2px solid #FDC23E; }

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
p, pre {
  color: #244356;
  line-height: 1.8;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px; }

/* ## OBJECTS ## */
/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/
.container {
  margin: 0 auto;
  max-width: 1500px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px; }
  @media screen and (min-width: 75em) {
    .container {
      padding-right: 24px;
      padding-left: 24px; } }

/*------------------------------------*\
    #CLEAR FIX
\*------------------------------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  overflow: auto;
  zoom: 1; }

/* ## COMPONENTS ## */
/*header module*/
.header {
  background: #FFF;
  box-shadow: 0 0 2px #cee6f0;
  border-bottom: 1px solid #F5FAFC;
  margin: 0 0 2.5rem 0;
  padding: 2.5rem 0;
  text-align: center;
  transition: all .2s ease-in-out; }

.header-logo {
  font-size: 2.5rem;
  margin: 0 0 1rem 0; }

.header-logo-type {
  border: none;
  color: #FF7761;
  text-decoration: none; }

.header-logo-type:hover {
  border: none;
  color: #ff4b2e;
  text-decoration: none;
  transition: .2s color ease-out; }

.header-form {
  width: 500px;
  margin: 0 auto; }

.header-form-input {
  width: 80%;
  float: left; }

.header-form-button {
  float: left;
  height: 32px;
  width: 20%; }

/* picture gride module */
.collage {
  padding: 4rem; }

.collage-grid {
  margin: 0;
  padding: 0; }

.collage-grid-photo {
  float: left;
  list-style: none;
  position: relative;
  width: 50%;
  width: 9.5%;
  margin: .25%; }

.collage-grid-photo-img {
  box-shadow: 1px 1px 2px #999;
  padding: .125rem;
  background: white;
  border: 6px solid white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 100%; }

.collage-grid-photo-buttons {
  position: absolute;
  right: 0;
  top: 0; }

.collage-meta {
  margin: 20px auto;
  text-align: center; }

.collage-meta-input {
  border: none;
  background: transparent;
  box-shadow: none;
  color: #333;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem; }

.collage-meta-input_caption {
  color: #666;
  font-size: 2.5rem;
  font-weight: 400; }

.collage-meta-cta {
  margin-top: 3rem; }

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: .375rem 1rem;
  text-decoration: none;
  white-space: nowrap; }

.btn_primary {
  font-smoothing: antialiased;
  background-image: linear-gradient(#2c5168, #244356);
  background-color: #244356;
  border: 1px solid #1c3544;
  color: #FFFFFF; }
  .btn_primary:hover {
    background-image: linear-gradient(#244356, #2c5168);
    background-color: #1c3544;
    border-color: #1c3544; }

.btn_secondary {
  background: linear-gradient(white, #F5F5F5);
  background-color: #F5F5F5;
  border: 1px solid #e8e8e8;
  color: #444444; }
  .btn_secondary:hover {
    background: linear-gradient(#F5F5F5, white);
    border: 1px solid gainsboro;
    color: #373737; }

/*------------------------------------*\
    #INPUT STYLES
\*------------------------------------*/
.input {
  border: 1px solid #DDDDDD;
  box-shadow: 1px 2px 1px #F5F5F5 inset;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 32px;
  padding: 6px 0 6px 4px; }

.inputGroup {
  position: relative;
  display: table;
  border-collapse: separate; }

.inputGroup-addon {
  position: absolute;
  top: 6px;
  left: 12px;
  z-index: 100; }

.inputGroup-input {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding-left: 30px; }

/* ## TRUMPS ## */
/*------------------------------------*\
    #FLOAT POSITIONS
\*------------------------------------*/
.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

/*------------------------------------*\
    #WIDTH TRUMPS
\*------------------------------------*/
.one-full {
  width: 100% !important; }

.three-fourth {
  width: 75% !important; }

.one-fourth {
  width: 25% !important; }

.two-third {
  width: 66.6666666% !important; }

.one-third {
  width: 33.33333333% !important; }

.one-half {
  width: 50% !important; }

/*# sourceMappingURL=app.css.map */
