/* helpers */
img {
	min-width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background: $background;
	font-size: 1.6rem;
	font-family: $sanserif;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: $heavy;
}

* {
	box-sizing: border-box;
}

a {
  color: $blue;
  border-bottom: 2px solid $grey;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: $orange;
  border-bottom: 2px solid $orange
}

.container {
	margin: 0 auto;
	max-width: 1500px;
	max-width:150rem;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}