/* Buttons */


.btn {
	cursor: pointer;
  display: inline-block;
  font-family: $sanserif;
  font-size: 1.4rem;
  line-height: 1.5;
  height: $inputHeight;
  padding: .375rem 1rem;
  text-decoration: none;
  white-space: nowrap;
} 
	.btn_primary {
    font-smoothing: antialiased;
    background-image: linear-gradient(lighten($primaryBtn_bgcolor, 5%), $primaryBtn_bgcolor);
    background-color: $primaryBtn_bgcolor;
    border: 1px solid darken($primaryBtn_bgcolor, 5%);
    color: $primaryBtn_txtcolor;
    &:hover {
      background-image: linear-gradient($primaryBtn_bgcolor, lighten($primaryBtn_bgcolor, 5%));
      background-color: darken($primaryBtn_bgcolor, 5%);
      border-color: darken($primaryBtn_bgcolor, 5%);
    }
	}
	.btn_secondary {
	  background: linear-gradient(lighten($secondaryBtn_bgcolor, 5%), $secondaryBtn_bgcolor);
		background-color: $secondaryBtn_bgcolor;
		border: 1px solid darken($secondaryBtn_bgcolor, 5%);
		color: $secondaryBtn_txtcolor;
    &:hover {
      background: linear-gradient($secondaryBtn_bgcolor, lighten($secondaryBtn_bgcolor, 5%));
      border: 1px solid darken($secondaryBtn_bgcolor, 10%);
      color: darken($secondaryBtn_txtcolor, 5%);
    }
	}