/*------------------------------------*\
    #INPUT STYLES
\*------------------------------------*/
.input {
  border: 1px solid $mediumGrey;
  box-shadow: 1px 2px 1px $lightGrey inset;
  color: $darkGrey;
  font-family: $sanserif;
  font-size: 16px;
  line-height: 20px;
  height: $inputHeight;
  padding: 6px 0 6px 4px;
}

.inputGroup {
  display: table;
  border-collapse: separate;
  position: relative;
}
  
  .inputGroup-input {
    display: table-cell;
    float: left;
    height: $inputHeight;
    margin-bottom: 0;
    padding-left: 30px;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .inputGroup-addbefore {
    left: 12px;
    position: absolute;
    top: 6px;
    z-index: 100;
  }