/*------------------------------------*\
    #INPUT STYLES
\*------------------------------------*/
.input {
  border: 1px solid $mediumGrey;
  box-shadow: 1px 2px 1px $lightGrey inset;
  color: $darkGrey;
  font-family: $sanserif;
  padding: $unit_small;
}

.inputGroup {
  display: table;
  border-collapse: separate;
  box-shadow: 1px 2px 1px $lightGrey inset;
  position: relative;
}
  .inputGroup-addon {
    border-right-width: 0;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .inputGroup-input {
    border-left-width: 0;
    border-right-width: 0;
    display: table-cell;
    line-height: $line-height;
    padding: $unit_small;
    width: 100%;
  }
  .inputGroup-btn {
    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
  }
  .inputGroup .input {
    box-shadow: none;
  }
  .inputGroup .inputGroup-input:last-child {
    border-right-width: 1px;
  }
  .inputGroup .inputGroup-input:first-child {
    border-left-width: 1px;
  }