/*header module*/
.header {
	background: $white;
	box-shadow: 0 0 2px darken($background, 10%), 0 0 0 1px $background;;
	@include sizing(margin-bottom, $unit);
	@include sizing(padding-top, $unit);
	@include sizing(padding-bottom, $unit);
	text-align: center;
	transition: all .2s ease-in-out;
}
	.header-logo {
		display: inline-block;
	}
		.header-logo-image {
			@include sizing(height, $unit_large);
			min-width: auto;
			@include sizing(margin-bottom, $unit);
			pointer-events: none;
			text-align: center;
			vertical-align: middle;
		}
		.header-logo-fallbackImage {
			@include sizing(margin-bottom, $unit);
			background: url('/assets/images/logos/logo.png');
			height: 48px;
			min-width: auto;
			text-align: center;
			vertical-align: middle;
		}
	.header-form {
		width: 95%;
		margin: 0 auto;
		max-width: 40em;
	}


